body {
  background: url('images/water.gif') 0 0 / 40px 40px repeat;
  font-family: Arial, Helvetica, sans-serif;
}

#world-map {
  border-collapse: collapse;
  margin: auto;
}

#world-map td {
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}

#banana {
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
}

#reload {
  position: absolute;
  right: 3em;
  top: 3em;
  display: flex;
  flex-direction: column;
}

#banana {
  background-image: url('images/food.gif');
  background-size: cover;
}

/* Tooltip container */
#banana {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
#banana #banana-tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
#banana #banana-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
#banana:hover #banana-tooltip {
  visibility: visible;
  opacity: 1;
}

#banana:hover {
  cursor: pointer;
}
  


/* 
.water {
  background-image: url('images/water.png');
  background-size: cover;
}

.food {
  background-image: url('images/food.png'), url('images/empty.png');
  background-size: cover;
}

.empty {
  background-image: url('images/empty.png');
  background-size: cover;
}

.ant.red {
  background-image: url('images/ant_red.png'), url('images/empty.png');
  background-size: cover;
}

.ant.blue {
  background-image: url('images/ant_blue.png'), url('images/empty.png');
  background-size: cover;
}

deprecated
.ant.green { 
  background-image: url('images/ant_green.png'), url('images/empty.png');
  background-size: cover;
}

deprecated
.ant.black {
  background-image: url('images/ant_black.png'), url('images/empty.png');
  background-size: cover;
}

.ant.grey {
  background-image: url('images/ant_grey.png'), url('images/empty.png');
  background-size: cover;
}

.ant.cyan {
  background-image: url('images/ant_cyan.png'), url('images/empty.png');
  background-size: cover;
}

.ant.purple {
  background-image: url('images/ant_purple.png'), url('images/empty.png');
  background-size: cover;
}

.ant.gold {
  background-image: url('images/ant_gold.png'), url('images/empty.png');
  background-size: cover;
}

.ant.brown {
  background-image: url('images/ant_brown.png'), url('images/empty.png');
  background-size: cover;
}

.hill.red {
  background-image: url('images/hill_red.png'), url('images/empty.png');
  background-size: cover;
}

.hill.red {
  background-image: url('images/hill_red.png'), url('images/empty.png');
  background-size: cover;
}

.hill.blue {
  background-image: url('images/hill_blue.png'), url('images/empty.png');
  background-size: cover;
}

.hill.green {
  background-image: url('images/hill_green.png'), url('images/empty.png');
  background-size: cover;
}

.hill.black {
  background-image: url('images/hill_black.png'), url('images/empty.png');
  background-size: cover;
}

.hill.grey {
  background-image: url('images/hill_grey.png'), url('images/empty.png');
  background-size: cover;
}

.hill.cyan {
  background-image: url('images/hill_cyan.png'), url('images/empty.png');
  background-size: cover;
}

.hill.purple {
  background-image: url('images/hill_purple.png'), url('images/empty.png');
  background-size: cover;
}

.hill.gold {
  background-image: url('images/hill_gold.png'), url('images/empty.png');
  background-size: cover;
}

.hill.brown {
  background-image: url('images/hill_brown.png'), url('images/empty.png');
  background-size: cover;
} */